*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}

html{
	font: 12px/1 var(--main-font);
	color: #000000;
	scroll-behavior: smooth;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
	position: absolute;
	background: black;
	width: 100%;
	height: 100%;
	background: #f5f7f9 no-repeat center fixed;
	background-size: cover;
}

/* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ 

nav{
	position: relative;
	font-size: 12px;
	width: 100%;
	height: 60px;
	background: url(../assets/homepage-bg.png) no-repeat top fixed;
	filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
	/* border-bottom: rgb(102, 102, 102, .5) 1px solid; */
	padding: 0 25px;
	z-index: 1;
}

.nav-list img{
	height: 50px;
	width: auto;
}


nav span{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	transition: 300ms;
	letter-spacing: 1.5px;
}

.nav-list{
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-list .account-dropdown{
	list-style: none;
	border: 2px solid #FF7F0A;
	box-sizing: border-box;
	border-radius: 50px;
	background: #ff7f0a;
	cursor: pointer;
}


.nav-list .account-dropdown .profile{
	display: flex;
	align-items: center;
	padding: 10px 10px 10px 15px;
}

.nav-list .account-dropdown .profile-menu{
	position: absolute;
	width: 150px;
	top: 75px;
	right: 30px;
	z-index: 1000;
	background: #fff;
	list-style: none;
	padding: 10px 5px;
	z-index: 1;
	border-radius: 10px;
	visibility: hidden;
	opacity: 09;
}

.nav-list .account-dropdown .profile-menu.active{
	top: 65px;
	visibility: visible;
	opacity: 1;
}



.nav-list .account-dropdown .profile-menu::before{
	content: "";
	position: absolute;
	top: -4px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);
}

.nav-list .account-dropdown .profile-menu a{
	text-decoration: none;
	color: #ff9900;
	font-size: .8rem;
}

.nav-list .account-dropdown .profile-menu .material-icons{
	margin-right: 2px;
	color: #ff9900;
}

.nav-list .account-dropdown .profile-menu li{
	list-style: none;
	display: flex;
	align-items: center;
	padding: 10px 5px;

}



/* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ 

main{
	/* margin-top: 60px; */
	height: 100%;
	width: auto;
	background: #f5f7f9;
	position: relative;
}

main header{
	position: relative;
	height: 180px;
	width: 100%;
	background: url(../assets/homepage-bg.png) no-repeat top fixed;
	display: flex;
	flex-direction: column;
}

main header .dashboard-user-info-box{
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 50px;
	z-index: 0;
}

.dashboard-user-info-box #account-setting-span{
	font-weight: 700;
}

.dashboard-user-info-box #user-info-pic{
	height: 150px;
	width: auto;
	border-radius: 100px;
	margin-bottom: 10px;
	margin-right: 30px;
}

.dashboard-user-info-box span{
	color: #fff;
	font-size: 50px;
}


/* MENU LIST */ /* MENU LIST */ /* MENU LIST */ /* MENU LIST */ /* MENU LIST */ /* MENU LIST */ /* MENU LIST */ 

.menu-list-box{
	width: 100%;
	display: flex;
	list-style: none;
	padding-left: 230px;
	background: #fff;
	filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

.menu-list-box li{
	padding: 10px 15px;
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
	color: #0172C6;
}

.menu-list-box li a{
	text-decoration: none;
	color: #0172C6;
}

.menu-list-box li:hover{
	background: #FF7F0A;
	color: #fff;
	transition: 300ms;
}

.menu-list-box li a:hover{
	color: #fff;
}

.menu-list-box li.active{
	background: #FF7F0A;
}

.menu-list-box li.active a{
	color: #fff;
}


/* UPLOAD REQUEST */ /* UPLOAD REQUEST */ /* UPLOAD REQUEST */ /* UPLOAD REQUEST */ /* UPLOAD REQUEST */ 


.users-container{
	height: 100%;
	width: 100%;
	padding: 25px;
}

.users-table{
	height: 100%;
	width: 100%;
	border: 1px solid #316094;
	border-radius: 5px;
	filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
	background: #fff;
	padding: 10px;
}



/* PROF LIST */ /* PROF LIST */ /* PROF LIST */ /* PROF LIST */ /* PROF LIST */ 


.prof-list-container{
	height: 100%;
	width: 100%;
	padding: 25px;
}

.prof-list-box{
	border: 1px solid #316094;
	border-radius: 5px;
	filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
	background: #fff;
	height: 100%;
	padding: 10px;
}

.prof-list-table{
	padding: 10px;
}

.prof-list-table .prof-email{
	width: 40%;
}

.prof-list-table .prof-checkbox{
	width: 10%;
}

.prof-list-table .prof-date-created{
	width: 20%;
}

.prof-list-table .prof-generation{
	width: 30%;
	text-align: right;
}


.prof-list-table:first-child{
	height: 50px;
	width: 100%;
}


.prof-list-table .generate-account-button{
	background: #0172C6;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}



/* PROF ACCOUNT GENERATION */


.account-generation-container{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.25);
	display: none;
}



.account-generation-form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	width: 300px;
	background: #fff;
	filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
	padding: 20px;
	border-radius: 10px;
}

.account-generation-form *{
	margin-bottom: 10px;
}

.account-generation-form h3{
	text-align: center;
}

.account-generation-form input{
	outline: none;
    border: none;
    border: 1px solid #919191;
	padding: 8px 10px;
	font-size: 1.2rem;
	border-radius: 5px;
	height: 40px;
}


.account-generation-form button{
	outline: none;
	background: #2A98EA;
	border: none;
	height: 40px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	transition: 300ms;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 2px;
	border-radius: 5px;
}
.account-generation-form button:hover{
	background: #0172C6;
}

.account-generation-form .material-icons{
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px 5px 0 0;
	color: #FF7F0A;
	font-weight: bold;
	font-size: 2.5rem;
	z-index: 1;
	cursor: pointer;
}




/* USER LIST */ /* USER LIST */ /* USER LIST */ /* USER LIST */ /* USER LIST */ 


.user-list-container{
	height: 100%;
	width: 100%;
	padding: 25px;
}

.user-list-box{
	border: 1px solid #316094;
	border-radius: 5px;
	filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
	background: #fff;
	height: 100%;
	padding: 10px;
	position: relative;
}

.user-list-table{
	padding: 10px;
}

.user-list-table .prof-email{
	width: 40%;
}

.user-list-table .prof-checkbox{
	width: 10%;
}

.user-list-table .prof-date-created{
	width: 20%;
}

.user-list-table .prof-generation{
	width: 30%;
	text-align: right;
}


.user-list-table:first-child{
	height: 50px;
	width: 100%;
}

.generate-user-button{
	background: #0172C6;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.user-generation{
	position: absolute;
	width: 100%;
	text-align: right;
	bottom: 0;
	margin-left: -20px;
	margin-bottom: 20px;
}




















/* ACCOUNT SETTINGS */ /* ACCOUNT SETTINGS */ /* ACCOUNT SETTINGS */ /* ACCOUNT SETTINGS */ /* ACCOUNT SETTINGS */ 


.settings-main{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	background: #f5f7f9;
	padding: 20px;
}

.settings-main .settings-nav{
	height: 100%;
	width: 25%;
	border: 1px solid #316094;
	border-radius: 10px;
	filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
	list-style: none;
	text-decoration: none;
	padding: 10% 25px;
	line-height: 50px;
	color: #fff;
	font-weight: 500;
	background: #316094;
	font-size: 1.3rem;
}

.settings-nav li a{
	text-decoration: none;
	color: inherit;
}

.settings-main .settings-nav li{
	cursor: pointer;
	display: flex;
	align-items: center;
	padding-left: 10px;
	border-radius: 5px;
	transition: 300ms;
}

.settings-main .settings-nav li:hover{
	color: #ff9900;
}

.settings-main .settings-nav .active{
	color: #fff;
	background: #ff9900;
	/* background: pink; */
}


.settings-main .profile-content{
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
	background: #fff;
	border-radius: 10px;
	border: 1px solid #316094;
}

.settings-main .profile-content .profile-header{
	height: 30%;
	width: 100%;
	padding: 10px 50px;
	border-bottom: rgb(102, 102, 102, .25) 1px solid;
	display: flex;
}

.settings-main .profile-content .profile-header .profile-picture{
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	height: 100%;
	width: 20%;
	text-align: center;
	color: #666666;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
}

.settings-main .profile-content .profile-header .profile-picture img{
	height: 80%;
	width: auto;
	border-radius: 20px;
}

.settings-main .profile-content .profile-header .profile-picture span:hover{
	cursor: pointer;
	color: #0172C6;
}

.settings-main .profile-content .profile-header .profile-details{
	height: 100%;
	width: 80%;
	box-sizing: border-box;
	padding: 30px 0 0 20px;
	color: #0172C6;
}

.settings-main .profile-content .user-details{
	height: 75%;
	width: 100%;
	/* background: pink; */
	box-sizing: border-box;
}


.settings-main .profile-content .form-user-profile{
	height: 100%;
	width: 100%;
	padding: 10px 10px 10px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-user-profile ul{
	width: 80%;
}

.form-user-profile ul li{
	width: 100%;
	font-size: 20px;
	color: #666666;
	display: flex;
	/* justify-content: center; */
	margin-top: 40px;
}

.form-user-profile ul li:last-child{
	width: 82%;
	display: flex;
	justify-content: flex-end;
}

.form-user-profile ul li .input-label{
	margin-right: 10px;
	font-weight: 400;
	width: 140px;
}

.form-user-profile ul li .input-label span{
	float: right;
	color: #0172C6;
	font-size: 1.5rem;
}

.form-user-profile ul li input{
	outline: none;
	border: 0.05px solid #666666;
	border-radius: 5px;
	padding: 10px 5px;
	width: 60%;
}	

.form-user-profile ul li select{
	outline: none;
	border: 0.05px solid #666666;
	border-radius: 5px;
	padding: 2px;
	width: 60%;
}

.form-user-profile button[type="submit"]{
	padding: 10px;
	background: #0172C6;
	border: none;
	outline: none;
	color: #fff;
	font-weight: 400;
	cursor: pointer;
}

.user-password{
	height: 75%;
	width: 100%;
	/* background: pink; */
	box-sizing: border-box;
}

.user-password .form-user-password{
	height: 100%;
	width: 100%;
	padding: 10px 10px 10px 40px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.user-password .form-user-password ul{
	width: 80%;
	display: flex;
	flex-direction: column;
	padding-left: 30px;
}

.form-user-password ul li:last-child{
	width: 87%;
	display: flex;
	justify-content: flex-end;
}


.user-password .form-user-password li{
	width: 100%;
	font-size: 20px;
	color: #666666;
	display: flex;
	margin-top: 40px;
}

.user-password .form-user-password li .input-label{
	margin-right: 10px;
	font-weight: 400;
	width: 160px;
}


.user-password .form-user-password li input{
	outline: none;
	border: 0.05px solid #666666;
	border-radius: 5px;
	padding: 10px 5px;
	width: 60%;
}




.user-password .form-user-password button[type="submit"]{
	padding: 10px;
	background: #0172C6;
	border: none;
	outline: none;
	color: #fff;
	font-weight: 400;
	cursor: pointer;
}





































/* SMALLER DEVICES */ /* SMALLER DEVICES */ /* SMALLER DEVICES */ /* SMALLER DEVICES */ /* SMALLER DEVICES */ 


@media only screen and (max-width: 719px){

	main header{
		height: 150px;
	}

	main header .dashboard-user-info-box{
		height: 100%;
		width: 100%;
	}
	
	.dashboard-user-info-box #user-info-pic{
		height: 120px;
		border-radius: 80px;
	}
	
	.dashboard-user-info-box span{
		font-size: 30px;
	}

	.menu-list-box{
		padding-left: 50px;
	}
	
	.menu-list-box li{
		padding: 10px 15px;
		font-size: 1rem;
		font-weight: 500;
		cursor: pointer;
		color: #0172C6;
	}

	.research-list-container{
		grid-template-columns: repeat(2, 1fr);
	}

	.research-list-container li img{
		width: 60%;
		height: 50%;
	}

	.research-list-container li h4{
		margin-top: 20px;
	}

	.add-group-container form{
		height: 80vh;
		width: 70%;
	}

	.add-group-container form .group-picture{
		height: 25%;
		width: 40%
	}
	
	.add-group-container form .group-picture span{
		font-size: 3rem;
	}
	
	
	.add-group-container .submit-cancel-container{
		position: absolute;
		bottom: 30PX;
		right: 50PX;
	}


}


